/**
 * The default width (in pixels) of 1 column in the grid.
 * @type {Number}
 */
/**
 * The default width (in pixels) of the grid gutter.
 * @type {Number}
 */
.z-grid-row:before, .z-grid-row::after {
  content: '';
  display: block;
  clear: both;
}

/**
 * Auto generates fixed width columns. The default style for the class name is for instance: '.colfix-1c'.
 * @param  {Number} $num-of-cols:  10							Number of column classes to be generated. Default value is 10.
 * @param  {String} $class-prefix: 'colfix'				The class prefix to be prepended before the column number. Initial value is 'colfix-'.
 * @param  {String} $class-suffix: 'c'						The class suffix to be appended after the column number. Initial value is 'c'.
 * @return {CSS}																	Returns a series of CSS classes for fixed width columns.
 */
/**
 * Creates a column based on the amount of columns set.
 * @param  {Number} $col-max:0										The maximum width of a column expressed in 'grid columns'.
 * @param  {Number} $col-min:0										The minimum width of a column expressed in 'grid columns'.
 * @param  {Boolean} $ignoreFirstGutter: false		If true, supress the gutter value in the final calculations. Default value is 'false'.
 * @return {CSS}																	Returns a series of CSS properties that makes a column.
 */
/**
 * Creates a flexible column based on the amount of columns to be offset. So flexible columns can be generated and
 * @param  {Number} $col-width:0        [description]
 * @param  {Number} $col-min:0          [description]
 * @param  {Number} $flex-col:100%      [description]
 * @param  {Boolean} $ignoreFirstGutter: true          [description]
 * @return {CSS}                     Returns a series of CSS properties that makes a flexible column.
 */
/**
 * This is a the main helper function that converts the grid columns into pixel values.
 * @param  {Number} $colsNum											Number of columns to be converted to pixels.
 * @param  {Boolean} $ignoreFirstGutter: false		If true, supress the gutter value in the final calculations. Default value is 'false'.
 * @return {Number}																Returns the calculation result.
 */
.z-grid-column {
  float: left;
}

.z-grid-column:not(:first-child) {
  margin-left: 20px;
}

.colfix-1c {
  width: 60px;
}

.colfix-2c {
  width: 140px;
}

.colfix-3c {
  width: 220px;
}

.colfix-4c {
  width: 300px;
}

.colfix-5c {
  width: 380px;
}

.colfix-6c {
  width: 460px;
}

.colfix-7c {
  width: 540px;
}

.colfix-8c {
  width: 620px;
}

.colfix-9c {
  width: 700px;
}

.colfix-10c {
  width: 780px;
}

.colflex-single-max-6c-min-4c {
  width: 100%;
  max-width: 460px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.colflex-single-max-6c-min-3c {
  width: 100%;
  max-width: 460px;
  min-width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.colflex-100p {
  width: 100%;
}

.colflex-100p.grid-column:not(:nth-of-type(1)) {
  width: calc(100% - 20px);
}

.colflex-75p {
  width: 75%;
}

.colflex-75p.grid-column:not(:nth-of-type(1)) {
  width: calc(75% - 20px);
}

.colflex-67p {
  width: 67%;
}

.colflex-67p.grid-column:not(:nth-of-type(1)) {
  width: calc(67% - 20px);
}

.colflex-60p {
  width: 60%;
}

.colflex-60p.grid-column:not(:nth-of-type(1)) {
  width: calc(60% - 20px);
}

.colflex-50p {
  width: 50%;
}

.colflex-50p.grid-column:not(:nth-of-type(1)) {
  width: calc(50% - 20px);
}

.colflex-40p {
  width: 40%;
}

.colflex-40p.grid-column:not(:nth-of-type(1)) {
  width: calc(40% - 20px);
}

.colflex-33p {
  width: 33%;
}

.colflex-33p.grid-column:not(:nth-of-type(1)) {
  width: calc(33% - 20px);
}

.colflex-25p {
  width: 25%;
}

.colflex-25p.grid-column:not(:nth-of-type(1)) {
  width: calc(25% - 20px);
}

.colflex-20p {
  width: 20%;
}

.colflex-20p.grid-column:not(:nth-of-type(1)) {
  width: calc(20% - 20px);
}

.colflex-10p {
  width: 10%;
}

.colflex-10p.grid-column:not(:nth-of-type(1)) {
  width: calc(10% - 20px);
}

.colflex-1c {
  width: calc(100% - 80px);
}

.colflex-2c {
  width: calc(100% - 160px);
}

.colflex-3c {
  width: calc(100% - 240px);
}

.colflex-4c {
  width: calc(100% - 320px);
}

.colflex-5c {
  width: calc(100% - 400px);
}

.colflex-6c {
  width: calc(100% - 480px);
}

.colflex-7c {
  width: calc(100% - 560px);
}

.colflex-8c {
  width: calc(100% - 640px);
}

.colflex-9c {
  width: calc(100% - 720px);
}

.colflex-10c {
  width: calc(100% - 800px);
}

.colflex-11c {
  width: calc(100% - 880px);
}

.colflex-12c {
  width: calc(100% - 960px);
}

.colflex-2c-min-1c {
  width: calc(100% - 160px);
  min-width: 60px;
}

.colflex-2c-min-2c {
  width: calc(100% - 160px);
  min-width: 140px;
}

.colflex-3c-min-1c {
  width: calc(100% - 240px);
  min-width: 60px;
}

.colflex-3c-min-2c {
  width: calc(100% - 240px);
  min-width: 140px;
}

.colflex-3c-min-3c {
  width: calc(100% - 240px);
  min-width: 220px;
}

.colflex-4c-min-1c {
  width: calc(100% - 320px);
  min-width: 60px;
}

.colflex-4c-min-2c {
  width: calc(100% - 320px);
  min-width: 140px;
}

.colflex-4c-min-3c {
  width: calc(100% - 320px);
  min-width: 220px;
}

.colflex-4c-min-4c {
  width: calc(100% - 320px);
  min-width: 300px;
}

.colflex-5c-min-1c {
  width: calc(100% - 400px);
  min-width: 60px;
}

.colflex-5c-min-2c {
  width: calc(100% - 400px);
  min-width: 140px;
}

.colflex-5c-min-3c {
  width: calc(100% - 400px);
  min-width: 220px;
}

.colflex-5c-min-4c {
  width: calc(100% - 400px);
  min-width: 300px;
}

.colflex-5c-min-5c {
  width: calc(100% - 400px);
  min-width: 380px;
}

.colflex-6c-min-1c {
  width: calc(100% - 480px);
  min-width: 60px;
}

.colflex-6c-min-2c {
  width: calc(100% - 480px);
  min-width: 140px;
}

.colflex-6c-min-3c {
  width: calc(100% - 480px);
  min-width: 220px;
}

.colflex-6c-min-4c {
  width: calc(100% - 480px);
  min-width: 300px;
}

.colflex-6c-min-5c {
  width: calc(100% - 480px);
  min-width: 380px;
}

.colflex-6c-min-6c {
  width: calc(100% - 480px);
  min-width: 460px;
}

.colflex-7c-min-1c {
  width: calc(100% - 560px);
  min-width: 60px;
}

.colflex-7c-min-2c {
  width: calc(100% - 560px);
  min-width: 140px;
}

.colflex-7c-min-3c {
  width: calc(100% - 560px);
  min-width: 220px;
}

.colflex-7c-min-4c {
  width: calc(100% - 560px);
  min-width: 300px;
}

.colflex-7c-min-5c {
  width: calc(100% - 560px);
  min-width: 380px;
}

.colflex-7c-min-6c {
  width: calc(100% - 560px);
  min-width: 460px;
}

.colflex-7c-min-7c {
  width: calc(100% - 560px);
  min-width: 540px;
}

.colflex-8c-min-1c {
  width: calc(100% - 640px);
  min-width: 60px;
}

.colflex-8c-min-2c {
  width: calc(100% - 640px);
  min-width: 140px;
}

.colflex-8c-min-3c {
  width: calc(100% - 640px);
  min-width: 220px;
}

.colflex-8c-min-4c {
  width: calc(100% - 640px);
  min-width: 300px;
}

.colflex-8c-min-5c {
  width: calc(100% - 640px);
  min-width: 380px;
}

.colflex-8c-min-6c {
  width: calc(100% - 640px);
  min-width: 460px;
}

.colflex-8c-min-7c {
  width: calc(100% - 640px);
  min-width: 540px;
}

.colflex-8c-min-8c {
  width: calc(100% - 640px);
  min-width: 620px;
}

.colflex-9c-min-1c {
  width: calc(100% - 720px);
  min-width: 60px;
}

.colflex-9c-min-2c {
  width: calc(100% - 720px);
  min-width: 140px;
}

.colflex-9c-min-3c {
  width: calc(100% - 720px);
  min-width: 220px;
}

.colflex-9c-min-4c {
  width: calc(100% - 720px);
  min-width: 300px;
}

.colflex-9c-min-5c {
  width: calc(100% - 720px);
  min-width: 380px;
}

.colflex-9c-min-6c {
  width: calc(100% - 720px);
  min-width: 460px;
}

.colflex-9c-min-7c {
  width: calc(100% - 720px);
  min-width: 540px;
}

.colflex-9c-min-8c {
  width: calc(100% - 720px);
  min-width: 620px;
}

.colflex-9c-min-9c {
  width: calc(100% - 720px);
  min-width: 700px;
}

.colflex-10c-min-1c {
  width: calc(100% - 800px);
  min-width: 60px;
}

.colflex-10c-min-2c {
  width: calc(100% - 800px);
  min-width: 140px;
}

.colflex-10c-min-3c {
  width: calc(100% - 800px);
  min-width: 220px;
}

.colflex-10c-min-4c {
  width: calc(100% - 800px);
  min-width: 300px;
}

.colflex-10c-min-5c {
  width: calc(100% - 800px);
  min-width: 380px;
}

.colflex-10c-min-6c {
  width: calc(100% - 800px);
  min-width: 460px;
}

.colflex-10c-min-7c {
  width: calc(100% - 800px);
  min-width: 540px;
}

.colflex-10c-min-8c {
  width: calc(100% - 800px);
  min-width: 620px;
}

.colflex-10c-min-9c {
  width: calc(100% - 800px);
  min-width: 700px;
}

.colflex-10c-min-10c {
  width: calc(100% - 800px);
  min-width: 780px;
}

.colflex-11c-min-1c {
  width: calc(100% - 880px);
  min-width: 60px;
}

.colflex-11c-min-2c {
  width: calc(100% - 880px);
  min-width: 140px;
}

.colflex-11c-min-3c {
  width: calc(100% - 880px);
  min-width: 220px;
}

.colflex-11c-min-4c {
  width: calc(100% - 880px);
  min-width: 300px;
}

.colflex-11c-min-5c {
  width: calc(100% - 880px);
  min-width: 380px;
}

.colflex-11c-min-6c {
  width: calc(100% - 880px);
  min-width: 460px;
}

.colflex-11c-min-7c {
  width: calc(100% - 880px);
  min-width: 540px;
}

.colflex-11c-min-8c {
  width: calc(100% - 880px);
  min-width: 620px;
}

.colflex-11c-min-9c {
  width: calc(100% - 880px);
  min-width: 700px;
}

.colflex-11c-min-10c {
  width: calc(100% - 880px);
  min-width: 780px;
}

.colflex-11c-min-11c {
  width: calc(100% - 880px);
  min-width: 860px;
}

.colflex-12c-min-1c {
  width: calc(100% - 960px);
  min-width: 60px;
}

.colflex-12c-min-2c {
  width: calc(100% - 960px);
  min-width: 140px;
}

.colflex-12c-min-3c {
  width: calc(100% - 960px);
  min-width: 220px;
}

.colflex-12c-min-4c {
  width: calc(100% - 960px);
  min-width: 300px;
}

.colflex-12c-min-5c {
  width: calc(100% - 960px);
  min-width: 380px;
}

.colflex-12c-min-6c {
  width: calc(100% - 960px);
  min-width: 460px;
}

.colflex-12c-min-7c {
  width: calc(100% - 960px);
  min-width: 540px;
}

.colflex-12c-min-8c {
  width: calc(100% - 960px);
  min-width: 620px;
}

.colflex-12c-min-9c {
  width: calc(100% - 960px);
  min-width: 700px;
}

.colflex-12c-min-10c {
  width: calc(100% - 960px);
  min-width: 780px;
}

.colflex-12c-min-11c {
  width: calc(100% - 960px);
  min-width: 860px;
}

.colflex-12c-min-12c {
  width: calc(100% - 960px);
  min-width: 940px;
}

@media screen and (max-width: 768px) {
  .grid-column {
    float: none !important;
    margin-left: 0 !important;
    width: auto !important;
  }
}
