@import "grid-helpers";

.z-grid-row {
	box-sizing: border-box;
	@extend %clearfix;
}
.z-grid-column {
	box-sizing: border-box;
}
@media screen and (min-width: 768px) {
	.z-grid-column {
		float: left;
		&:not(:first-of-type) {
			margin-left: $grid-column-gutter;
		}
	}
}

@include createFixedWidthColumns();

@include createFlexibleWidthColumns();

@include createPercentageColumn(100);
@include createPercentageColumn(75);
@include createPercentageColumn(50);
@include createPercentageColumn(25);

@include createPercentageColumn(67);
@include createPercentageColumn(33);

@include createPercentageColumn(80);
@include createPercentageColumn(60);
@include createPercentageColumn(40);
@include createPercentageColumn(20);
@include createPercentageColumn(10);

.z-grid-column[class^="singlet-"], .z-grid-column[class*=" singlet-"] {
	width: 100%;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.singlet-colflex-max-6c-min-4c {
	@include columnBuilder(6,4);
}
.singlet-colflex-single-max-6c-min-3c {
	@include columnBuilder(6,3);
}
@media screen and (max-width: 768px) {
	.z-grid-column {
		width: auto;
		&:not(:first-of-type) {
			width: auto !important;
		}
	}
}
